# Get "Personal" API key from https://developer.riotgames.com/
API_KEY=
# Run https://developer.riotgames.com/apis#account-v1/GET_getByRiotId to get ID. Make sure to check "Header Param" for key.
PUUID=
GAME_NAME=Forsenxd
TAG_LINE=EUW
REGION=europe
SPECTATE_REGION=euw1
