# Get "Personal" API key from https://developer.riotgames.com/
API_KEY=

# Set these if running without a Twitch bot. These settings won't run if TWITCH_ENABLE has a value.
# Run https://developer.riotgames.com/apis#account-v1/GET_getByRiotId to get ID. Make sure to check "Header Param" for key.
PUUID=
GAME_NAME=Forsenxd
TAG_LINE=EUW
REGION=europe
SPECTATE_REGION=euw1

# Leave empty to disable Twitch bot.
TWITCH_ENABLE=true
TWITCH_USERNAME=spectatorsen
# Generate perma token https://twitchtokengenerator.com/
TWITCH_PERMA_ACCESS_TOKEN=

# Unused. TODO.
#TWITCH_ID=1423712678
#TWITCH_CLIENT_ID=
#TWITCH_CLIENT_SECRET=
# Generate these with TWITCH CLI
#TWITCH_ACCESS_TOKEN=
#TWITCH_REFRESH_TOKEN=

# Leave empty to disable on death audio & browser source refresh.
OBS_IP=
OBS_PORT=
OBS_PASSWORD=
OBS_BROWSER_SOURCE="DPMLOL"
OBS_BROWSER_SOURCE_URL="https://dpm.lol/%gameName%-%tagLine%"
OBS_AUDIO_SOURCE="Random audio"
OBS_AUDIO_DIRECTORY="C:\Users\ComputerName\Desktop\audio"

# Leave empty if you're not running BlueBottle
BLUEBOTTLE_ENABLE=true
BLUEBOTTLE_ENDPOINT="http://localhost:58869"
# Change default showings in bb.js file. TODO: Move this to separate json files instead.
BLUEBOTTLE_STYLE="DefaultIngame"
